# python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.venv/
.env
*.log
.cache/
.pytest_cache/

# notebooks
.ipynb_checkpoints/

# IDE
.vscode/*
!.vscode/settings.json
.DS_Store

# data & outputs
data/
data/**/*.zip
data/**/raw/
runs/
reports/
outputs/
lightning_logs/
