streamlit==1.38.0
streamlit-webrtc==0.47.1
streamlit-autorefresh==1.0.1

aiortc==1.8.0
pylibsrtp==0.9.1
av==10.0.0

opencv-python-headless==4.10.0.84
numpy==1.26.4
pillow==10.4.0
plotly==5.22.0

tensorflow-cpu==2.15.1
keras==2.15.0
protobuf==4.25.3
typing-extensions==4.12.2
